<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!--lesson 6 add dependency with the use Setters-->

        <bean id="musicBean"
              class="les1.ClassicalMusic">
        </bean>

        <bean id="musicPlayer"
              class="les1.MusicPlayer">
            <property name="music" ref="musicBean"/>
        </bean>

        <bean id="podcastPlayer"
              class="les1.PodcastPlayer">
            <property name="podcast" ref="podcastBean"/>
        </bean>

        <bean id="podcastBean"
              class="les1.ITPodcast">
        </bean>



<!--    <bean id="musicBean"-->
<!--          class="les1.ClassicalMusic">-->
<!--    </bean>-->

<!--    <bean id="musicPlayer"-->
<!--          class="les1.MusicPlayer">-->
<!--        <constructor-arg ref="musicBean"/>-->
<!--    </bean>-->

<!--    <bean id="podcastPlayer"-->
<!--          class="les1.PodcastPlayer">-->
<!--        <constructor-arg ref="podcastBean"/>-->
<!--    </bean>-->

<!--    <bean id="podcastBean"-->
<!--          class="les1.ITPodcast">-->
<!--    </bean>-->


</beans>